solar-flare/vite.config.js
solar-flare/tailwind.config.js
solar-flare/src/assets/react.svg
solar-flare/public/vite.svg
solar-flare/public/logo.svg
solar-flare/public/favicon.svg
solar-flare/postcss.config.js
solar-flare/package.json
solar-flare/package-lock.json
solar-flare/eslint.config.js
