@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Exo 2', ui-sans-serif, system-ui, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-sf-bg text-sf-text selection:bg-sf-orange-1/80 selection:text-sf-bg;
}

a {
  @apply text-inherit no-underline;
}
